/* You can add global styles to this file, and also import other style files */

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
.shape {
    width: 100% !important;
    height: 100vh !important;
    overflow: auto !important;
    padding-bottom: 50px !important;
}